{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}

    {# <table class="table">
        <thead>
            <tr>
                <th>Famille</th>
                <th>Nombre de garde</th>
            </tr>
        </thead>
        <tbody>
        {% for garde in nbgarde %}
            <tr>
                <td>{{ garde.nom }}</td>
                <td>{{ garde.nb }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}



    <div class="absolute w-screen h-screen flex flex-col justify-center bg-yellow-300">
            {# Formulaire de gestion de compte #}
            <div class="px-10 p-4 shadow-2xl mx-auto rounded-2xl bg-white">
                <div class="">
                    {# Titre #}
                    <div class="flex justify-center text-4xl font-extrabold">
                        <h1>Tableau des gardes</h1>
                    </div>
                    {# Ligne N°1 #}
                    <div class="flex justify-centrer mx-auto">
                        {# Zone de saisie Nom #}
                        <div class="mt-5 w-5/12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Famille</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for garde in nbgarde %}
                                <tr>
                                    <td>{{ garde.nom }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        {# Séparateur Milieu #}
                        <div class="mt-5 w-2/12 "></div>
                        <div class="mt-5 w-5/12 ">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>Gardes</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for garde in nbgarde %}
                                <tr>
                                    <td>{{ garde.nb }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>  
                    </div>
                    </div>
            </div>
{% endblock %}