{% extends 'base.html.twig' %}
{% block title %}Formulaire d'inscription{% endblock %}
{% block body %}
        <h1>Formulaire d'inscription</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form)}}
{% endblock %}