<div>
    <a href="{{ path('admin') }}">
      <button class="z-50 bg-yellow-200 w-20 h-20 right-0 absolute bottom-32 mr-16 rounded-full border-yellow-900 border-4 border-opacity-25" onclick="{{ path('admin') }}"><i class="fas fa-cogs"></i></button>
    </a>
</div>