<div>
    <a href="{{ path('app_logout') }}">
      <button class="z-50 bg-[#3DB2FF] w-20 h-20 right-0 absolute bottom-2 mr-16 rounded-full border-black border-4 " onclick="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-3x"></i></button>
    </a>
</div>